<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue/vue.js"></script>
    <title>Templates e Diretivas</title>
</head>
<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <div v-if="comprou" :style="{background: cor}">
         <p>{{conteudo}}</p>
        <p>{{lado * lado}}</p>
        <p>{{comprou ? "Sim ele comprou" : "Não comprou, compre aqui"}}</p>
        <input v-model="cor" type="color" >
        </div>
         <a :href="comprou ? href : '' ">{{href}}</a>
         {{cor}}
    </div>
   
    <script>
        //v-if retira os elementos
        //v-show dá um display none nos elementos, sem retira-lo do devTools
        //Podemos utilizar expressões de Javascript dentro dos {{}}

        new Vue({
            el: "#app",
            data: {
                titulo: "Curso de Vue",
                conteudo: "Você vai longe menina!",
                lado:5,
                comprou: true,
                href: "https://www.linkedin.com/in/maria-carolina-28b300213/",
                cor:"#f084d9"
            }
        })
    </script>
</body>
</html>